<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Match Details">
  <ion-content>

    <div class="item item-image">
      <a href="https://google.com/maps/?q={{match.location.replace(' ','')}},10z?hl=ar">
        <img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{match.location}}&markers={{match.location}}&zoom=14&maptype=hybrid&size=560x280&scale=2&key=AIzaSyBxEG5d4l-CXfCOsRrd1U_YjANsmUpyxZw">
      </a>
    </div>

    <div class="item item-icon-left item-button-right assertive" href="#">
      <i class="icon ion-ios-location"></i>

      <button class="button" style="top: inherit" ng-class="match.is_creator ? 'button-assertive' : 'button-positive'" ng-click="match.is_creator ? deleteMatch(match.id) : (match.joined ? unjoinMatch(match.id) : joinMatch(match.id))">
        {{match.is_creator ? 'delete' : (match.joined ? 'joined' : 'join')}}
      </button>

          <h2>{{match.place}}</h2>

          <p>by {{match.creator.username}}</p>

    </div>
    <div class="list">
      <div class="item matchPlayers">
        <a ng-repeat="player in match.players" href="#/profile/{{player.id}}" class="player">
          <img  src="{{ player.image | checkImg }}">
          <h2>{{player.first_name +" "+ player.last_name}}</h2>
        </a>
        <div class="emptyMessage" ng-show="!match.players.length">No players yet</div>
      </div>

      <div class="item item-icon-left item-button-right" href="#">
        <i class="icon ion-android-time"></i>

        <h2>{{ MATH.round((([[match.match_length -  15 ] / 15] - 1) | matchLength )).split(':').join((match.match_length < 120) ? 'hour ' : 'hours ') +" minutes"}}</h2>

        <p>{{match.time}}</p>

      </div>
      <div class="item item-icon-left item-button-right" href="#">
        <i class="icon ion-ios-pricetags"></i>

        <h2>split amount</h2>


      </div>
    </div>

</ion-content>
</ion-view>
