<ion-view view-title="Edit Account">
  <ion-nav-buttons side="right">
    <div class="button button-clear button-positive">
      save &nbsp;
    </div>
  </ion-nav-buttons>
  <ion-content has-header="true">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Age</span>
        <input type="number" placeholder="Age">
      </label>
      <label class="item item-input item-select">
        <br/>
        <br/>
        <div class="input-label">
          Position
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>
      <a class="item item-icon-right" href="#/tab/account/edit/password">
        <i class="icon ion-ios-arrow-forward"></i>
        Change password
      </a>
    </div>
  </ion-content>
</ion-view>
