<ion-view view-title="back" hide-nav-bar="true" hide-back-button="true">
  <ion-content class="no-header" scroll="false">
    <div class="bar bar-header item-input-inset">
      <div class="button button-clear button-dark" ng-click="goBack()">
        <i class="icon ion-ios-arrow-left"></i>
        back &nbsp;
      </div>
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" placeholder="Search" id="pac-input" disable-tap disableTap>
      </label>
      <div id="createNext" class="button button-clear" disabled>
        next
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </div>
    <div id="map" data-tap-disabled="true">
    </div>
  </ion-content>
</ion-view>
