<ion-view view-title="Change Password">
  <ion-content has-header="true">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Old Password</span>
        <input type="password" placeholder="Old Password">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">New Password</span>
        <input type="password" placeholder="New Password">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Confirm Password</span>
        <input type="password" placeholder="Confirm Password">
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="submit" ng-click="showPopup()">Change Password</button>
      </label>
    </div>
  </ion-content>
</ion-view>
